.profile__botton {
    width: 150px;
    height: 50px;
    background-image: url(../../../images/Add\ Button.png);
}

@media (max-width: 590px) {
    .profile__botton {
        width: 282px;
        background-image: url(../../../images/AddButton2.png);
    }
}