.profile__botton {
    width: 150px;
    height: 50px;
    background-image: url(../../../images/AddButton.png);
    background-color: black;
    background-position: center;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media (max-width: 590px) {
    .profile__botton {
        width: 282px;
        background-image: url(../../../images/AddButton2.png);
    }
}