.popap__fullimage {
    max-width: 75vw;
    max-height: 75vw;
    object-fit: contain;
    position: absolute;
}

@media screen and (max-width:860px) {
    .popap__fullimage {
        margin: auto 40px;
    }
}