.profile__reduct-botton {
    background-image: url(../../../images/Edit.svg);
    height: 24px;
    width: 24px;
    background-color: black;
    background-position: center;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

.profile__edit-button:hover {
    opacity: 0.6;
}