.popap__create {
    background: #000;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    line-height: 22px;
    padding: 0;
    text-align: center;
    width: 358px;
    background-image: url(../../../images/SubmitButton1.svg);
}

.popap__create:hover {
    opacity: 0.8;
}