.popap__big-image {
    max-width: 75vw;
    max-height: 75vw;
    object-fit: contain;
    position: absolute;
}

@media screen and (max-width:320px) {
    .popap__big-image {
        margin: auto 40px;
    }
}