 .popap__conteiner {
     background-color: white;
     align-content: center;
     border-radius: 10px;
     height: 330px;
     max-width: 430px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     position: fixed;
     font-family: 'Inter', Arial, sans-serif;
     box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
 }
 
 .popap__conteiner.active {
     transform: translate(-50%, -50%) scale(1);
     transition: 0.5s all;
 }